body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
}

#main {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

.block {
  width: 100px;
  height: 100px;
  display: inline-block;
  text-indent: -9999px;
  margin: 50px;
}

button {
  width: 100px;
  height: 50px;
  margin: 20px;
  font-size: 20px;
}

.block1 {
  background-color: red;
}

.block2 {
  background-color: green;
}

.block3 {
  background-color: blue;
}

.block1.ng-enter {
  animation: fadeInLeft 1s;
}

.block1.ng-leave {
  animation: bounceOutLeft 1s;
}

.block2.ng-enter {
  animation: flipInX 1s;
}

.block2.ng-leave {
  animation: bounceOutDown 1s;
}

.block3.ng-hide-add {
  animation: rollOut 1s;
}

.block3.ng-hide-remove {
  animation: lightSpeedIn 1s;
}