body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
}

#main {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}

button {
  width: 100px;
  height: 50px;
  margin: 20px;
  font-size: 20px;
}

.block {
  width: 200px;
  height: 100px;
  display: inline-block;
  text-indent: -9999px;
  margin: 50px;
}

.block-blue {
  background-color: blue;
}

.block-orange {
  background-color: orange;
}